.container-semaphore{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.semaphore-title{
    background-color: rgb(14, 93, 12);
    color: white;
    padding: 1rem;
    border: solid 2px;
    border-radius: 15px;
    margin-bottom: -0.5rem;
    z-index: 0;
    p{
        margin: 0 !important;
    }
}
.semaphore {
    display: flex;

    align-items: center;
    background-color: rgb(45, 45, 45);    
    border-radius: 10px;
    padding: 10px;
    position: relative;

    &:before {
        background: linear-gradient(135deg, rgba(rgb(187, 187, 187), .4), transparent 50%);
        background-blend-mode: overlay;
        border-radius: 8px;
        content: "";
        filter: blur(1px);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    button {
        padding: 20px;
        border: 0;
        border-radius: 20px;
        margin: 10px;
        opacity: 0.4;
        position: relative;
        transition: opacity 0.15s ease-out;
        cursor: default;

        &:before {
            background: linear-gradient(135deg, #fff, transparent);
            background-blend-mode: overlay;
            border-radius: 30px;
            content: "";
            filter: blur(1px);
            height: 90%;
            left: 5%;
            position: absolute;
            top: 5%;
            width: 90%;
        }
        
        @keyframes pulse {
            60%, 62%, 80%, 82% {
                opacity: 1;
            }
            61% {
                opacity: 0.75;
            }
            
            81% {
                opacity: 0;
            }
            }
            
            &.active {
                opacity: 1;
                animation: infinite 5s ease-out 2s infinite alternate;
            }
    }
}